.all{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(violet,white,skyblue);
}
.all >div{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    box-shadow: 2px 3px 4px black;
}
h3{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 23px;
    letter-spacing: 1.2px;
}
img{
    width: 30%;
}
button{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 23px;
    padding: 4px;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: tomato;
}